@charset "utf-8";
/* CSS Document */

#noti_Container {
    position:relative;
    border:1px none #909193;
    width:65px;
    height:10px;
}
.noti_bubble {
	position:absolute;
	top: -8px;
	right:-8px;
	padding:3px 3px 3px 3px;
	background-color:red;
	color:white;
	font-weight:bold;
	font-size:10px;
	border-radius:30px;
	box-shadow:1px 1px 1px gray;
}​
