ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:2px; margin-bottom:2px; width:75px; float:left; margin-right:2px;}
ul#files li img{ max-width:75px; max-height:55px; }
.success{ background:#426889; border:1px solid #426889; }
